MINOL_EMAIL="<minol_email>"
MINOL_PASSWORD="<minol_password>"
MQTT_HOST="core-mosquitto"
MQTT_PORT=1883
MQTT_USER="<mqtt_user>"
MQTT_PASSWORD="<mqtt_password>"
SCAN_INTERVAL_HOURS=12
BASE_URL="https://webservices.minol.com"
LOG_LEVEL="INFO"